<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>denis95-001-site1.etempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://denis95-001-site1.etempurl.com:8172/MsDeploy.axd?site=denis95-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>denis95-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\denis95-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RekrutDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6005.site4now.net;Initial Catalog=DB_A3F3E7_RekrutDB;Persist Security Info=True;User ID=DB_A3F3E7_RekrutDB_admin;Password=10dfhtybrsd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RekrutTask.Models.RekrutDBEntities, RekrutTask" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RekrutDBEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL6005.site4now.net;Initial Catalog=DB_A3F3E7_RekrutDB;Persist Security Info=True;User ID=DB_A3F3E7_RekrutDB_admin;Password=10dfhtybrsd"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>